<h3 class="mt-2">Login</h3> 

<form id="loginform" action="/login" method="POST">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefaultEmail">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="text" class="form-control" name="email" id="validationDefaultEmail" placeholder="@.com" aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Password</label>
      <input type="password" class="form-control" name="password" id="validationDefault02" placeholder="" value="" required>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-secondary btn-block">Sign in</button>
</form>



    