 <h3 class="mt-2">Новая Компания</h3>
<form action="/addcompany" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Company Name</label>
    <input  name ="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Name">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input  name = "address" type="text" class="form-control" id="exampleInputPassword1" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Question</label>
    <input name="question" type="text" class="form-control" id="exampleInputPassword1" placeholder="Questions">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Category</label>
    <input name="category" type="text" class="form-control" id="exampleInputPassword1" placeholder="Questions">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Answer</label>
    <input  name="answer" type="text" class="form-control" id="exampleInputPassword1" placeholder="Questions">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>